*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section ,
footer{
  padding: 50px 0 50px 0;
  height: 600px;
}
/* .row div{
  background-color: red;
  border: 1px solid black;
  height: 100px;
} */
/* UTILITIES */
.paragraph-big{
  color: #8a95ad;
}
.paragraph-small{
  color: #8a95ad;
}
.header-two{
  color: #031b4e;
}
.header-three{

}
.header-three-f{

}
.link-blue{
  color: #1072ff;
}
.list-item-f{

}
.list-item-f:hover{

}
.partner-img{

}
.bg-gray{
  background-color: #f3f5f9;
}
.bg-blue{
  background-image:linear-gradient(180deg, #1072ff, #2a34ae);
}
.bg-dark-blue{
  background-color: #010e28;
}
.margin-small{
  margin-top: 0;
  margin-bottom: 10px;
}
.margin-big{
  margin-top: 0;
  margin-bottom: 25px;
}
/* STYLES */

/* SECTION-1 */
#section-1{
  background-image: url("../img/bg-banner-home.jpg");
  background-size: cover;
  background-position: center;
}
#section-1  button,
#section-1  .input-group{
  width: 90%;
}
#section-1 h1{
  color: white;
  font-size: 50px;
}
#section-1 > div > div > div:first-child p{
  color: #f3f5f9;
  font-size: 20px;
}
#section-1 > div > div > div:last-child{
  border-radius: 5px;
  background-color: white;
}
#section-1 h2,
#section-1 button{
  position:relative;
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
#section-1 button:first-of-type{
  color: white;
  background-color: #1072ff;
}
#section-1 button img{
  position: absolute;
  left: 2px;
  height: 20px
}
#google-button{
  box-shadow: 10px;
  background-color: white;
}
