*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section ,
footer{
  padding: 50px 0 50px 0;
}
/* .row div{
  background-color: red;
  border: 1px solid black;
  height: 100px;
} */
/* UTILITIES */
.paragraph-big{
  color: #8a95ad;
  font-size: 18px;
  text-align: center;
}
.paragraph-small{
  color: #8a95ad;
  font-size: 15px;
}
.header-two{
  color: #031b4e;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.header-two-white{
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.header-three{
  color: #031b4e;
  font-size: 20px;
}
.header-three-f{
  color: white;
  font-size: 20px;
}
.link-blue{
  font-size: 12px;
  color: #1072ff;
}
.list-item-f li{
  list-style: none;
  text-decoration: none;
  color: #8a95ad;
}
.list-item-f:hover{

}
.partner-img{
  width: calc(100% / 6 - 10px);
  margin-right: 5px;
}
@media screen and (max-width: 780px){
  .partner-img{
    width: calc(100% / 2 - 10px);
  }
}
.section-2-img{
  width: 40px;
}
.bg-gray{
  background-color: #f3f5f9;
}
.bg-blue{
  background-image:linear-gradient(180deg, #1072ff, #2a34ae);
}
.bg-dark-blue{
  background-color: #010e28;
}
.margin-small{
  margin-top: 0;
  margin-bottom: 10px;
}
.margin-big{
  margin-top: 0;
  margin-bottom: 25px;
}
.blue-ball{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: #1072ff;
}
.blue-ball-empty{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid  #1072ff;
}
.s6-ams{
  color: white;
  font-size: 13px;
  font-weight: bold;
}
.s6-amsterdam{
  color: #8a95ad;
  font-size: 12px;
}
.s6-border-bot{
  border: none;
  border-bottom: 2px solid white;
}
.center{
  text-align: center;
}
.color-gray{
  color:#8a95ad;
}
/* STYLES */
/* HEADER */
.navbar{
  margin-bottom: 0;
}
header .container-fluid{
  position: relative;
  background-color: white;
}
#bs-example-navbar-collapse-1{
  position: relative;
}
header img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
}
#bs-example-navbar-collapse-1 > div {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#bs-example-navbar-collapse-1 li a,
#bs-example-navbar-collapse-1 li i{
  font-size: 13px;
  color: #031b4e;
}
#bs-example-navbar-collapse-1 li button{
  border: 1px solid #1072ff;
  border-radius: 5px;
  background-color: white;
  color: #1072ff;
  padding: 5px;
  font-size: 12px;
}
/* SECTION-1 */
#section-1{
  background-image: url("../img/bg-banner-home.jpg");
  background-size: cover;
  background-position: center;
}
#section-1  button,
#section-1  .input-group{
  width: 100%;
}
#section-1 h1{
  color: white;
  font-size: 50px;
}
#section-1 > div > div > div:first-child p{
  color: #f3f5f9;
  font-size: 20px;
}
#section-1 > div > div > div:last-child{
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}
#section-1 h2,
#section-1 button{
  position:relative;
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
#section-1 h2{
  font-size: 25px;
}
#section-1 button:first-of-type{
  color: white;
  background-color: #1072ff;
}
#section-1 button img{
  position: absolute;
  left: 2px;
  height: 20px
}
#google-button{
  box-shadow: 10px;
  background-color: white;
}
#section-1 p a{
  text-decoration: underline;
}
/* SECTION-2 */
#section-2 .row:first-child{
  text-transform: uppercase;
  color: rgb(100,100,140);
  text-align: center;
  font-weight: bold;
}
#section-2 ul li{
  list-style: none;
  display: inline-block;
}
#list-2{
  color: gray;
  font-size: 15px;
  border-left: 1px solid gray;
}
#section-2 ul{
  width: 100%;
}
#section-2 li img{
  width: 100%;
}
/* SECTION-4 */
#section-4 p,
#section-4 > div > div > div:last-child,
#section-4 .blue-ball-empty{
  text-align:center;

}
#section-4 img{
  width: 100%;
}
/* SECTION-6 */
#section-6 a{
  color: #00FFFF;
}
/* SECTION-7 */
#section-7 img{
  width: 100%;
}
#section-7 .blue-ball-empty{
  text-align:center;

}
.rockerbox{
  background-color: white;
  padding: 10px;
  text-align: center;
}
.rockerbox img{
  height: 30px;
}
/* SECTION-8 */
#section-8{
  text-align: center;
}
#section-8 button{
  color: #1072ff;
  background-color: white;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  padding: 7px;
}
/* footer */
footer > div > div > div:first-of-type li{
  list-style: none;
  display: inline-block;
}
